.DS_Store

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess
/deploy-site.php
/application/.htaccess
cache
/.buildpath
/application/config/constants.php
/application/config/config.php
/application/config/database.php
/application/config/email.php
/application/cache
logs
/.project
/license.txt